---
# This playbook contains common plays that will be run on all nodes.

# ansible
- name: administration | Test ansible is installed
  shell: ansible --version
  register: ansible_is_installed
  ignore_errors: yes

- name: administration | Run install script as sudo
  script: setup-ansible.sh
  sudo: yes
  when: "ansible_is_installed|failed and (ansible_distribution == 'Ubuntu' or ansible_distribution == 'CentOS')"
  register: ansible_init_used_sudo

- name: administration | Run install script without sudo
  script: setup-ansible.sh
  when: ansible_is_installed|failed and ansible_init_used_sudo|skipped

- name: administration | Test ansible is installed
  shell: ansible --version

- name: administration | Install monitoring tools
  apt: pkg={{ item }} state=present update_cache=yes
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  tags: package
  with_items:
   - smartmontools
   - ssmtp
   - snmp #for cacti
   - snmpd #for cacti

- name: administration | Install AWS tools
  apt: pkg={{ item }} state=present update_cache=yes
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  tags: package
  with_items:
   - ec2-api-tools
   - s3cmd

- name: administration | Install other tools
  apt: pkg={{ item }} state=present update_cache=yes
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  tags: package
  with_items:
   - daemon
   - mailutils

- name: administration | Install connection tools
  apt: pkg={{ item }} state=present update_cache=yes
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  tags: package
  with_items:
#   - nis
#   - autofs
   - ufw

# ptxidns01/nissrv01 is dns for france.effix.fr and nis for france.effix.fr
#- name: Configure domain file
#  template: src=defaultdomain-{{ ansible_distribution }}-{{ ansible_architecture}}.j2 dest=/etc/defaultdomain
#  tags: configure

# NTP below is installed by the ntp ansible role
#- name: Install ntp
#  yum: name=ntp state=present
#  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'
#  tags: package
#
#- name: Install ntp
#  apt: pkg=ntp state=present update_cache=yes
#  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
#  tags: package

- name: administration | Configure ntp file
  template: src=ntp.conf.j2 dest=/etc/ntp.conf
  tags: configure
  notify: restart ntp

- name: administration | Start the ntp service
  service: name=ntp state=started enabled=true
  tags: service

#- name: administration | Install nis
#  apt: pkg=nis state=present update_cache=yes
#  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
#  tags: package

#- name: administration | Configure yellow page file
#  template: src=yp.conf-{{ ansible_distribution }}-{{ ansible_architecture }}.j2 dest=/etc/yp.conf
#  tags: configure
#  notify: restart nis

#- name: administration | Configure nis file
#  template: src=nsswitch.conf-{{ ansible_distribution }}-{{ ansible_architecture }}.j2 dest=/etc/nsswitch.conf
#  tags: configure
#  notify: restart nis

#- name: administration | Copy the nis init script
#  copy: src=nis-{{ ansible_distribution }}-{{ ansible_architecture }}.sh dest=/etc/init.d/nis mode=0755
#  when: ( ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu' )  and ( ansible_distribution_release == 'precise' )
#  tags: configure

#- name: administration | Start the nis service
#  service: name=nis state=started enabled=true
#  tags: service

#- name: administration | Install autofs
#  apt: pkg=autofs state=present update_cache=yes
#  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
#  tags: package

#- name: administration | Configure autofs file
#  template: src=rc.local-{{ ansible_distribution }}-{{ ansible_architecture }}.j2 dest=/etc/rc.local
#  tags: configure
#  notify: restart autofs

#- name: administration | Configure autofs file
#  template: src=auto.master-{{ ansible_distribution }}-{{ ansible_architecture }}.j2 dest=/etc/auto.master
#  tags: autofs
#  notify: restart autofs

#- name: administration | Configure autofs file
#  template: src=autofs_ldap_auth.conf-{{ ansible_distribution }}-{{ ansible_architecture }}.j2 dest=/etc/autofs_ldap_auth.conf
#  tags: configure
#  notify: restart autofs

#- name: administration | Start the autofs service
#  service: name=autofs state=started enabled=true
#  tags: service

- name: administration | Install sendmail tools
  apt: pkg={{ item }} state=present update_cache=yes
  when: ( ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu' )
  tags: package
  with_items:
   - sendmail

- name: administration | Copy the sendmail configuration file
  template: src=sendmail.cf.j2 dest=/etc/mail/sendmail.cf mode=0755
  when: ( ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu' )
  tags: configure

#copy current user key
- include: copy-keys.yml

#TODO use authorized_key instead of copy-keys.yml
#See http://brokenbad.com/better-handling-of-public-ssh-keys-using-ansible/
#- name: administration | Checking public keys list
#  authorized_key:
#    user: "{{ base_admin_username }}"
#    key: "{{ item }}"
#  with_items: base_admin_keys

