# /etc/nsswitch.conf
# {{ ansible_managed }}
#
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.

#passwd:         compat
#group:          compat
#shadow:         compat

#hosts:          files dns
#networks:       files

#protocols:      db files
#services:       db files
#ethers:         db files
#rpc:            db files

#netgroup:       nis

passwd: files nis
shadow: files nis
group: files nis

hosts: files mdns4_minimal dns [NOTFOUND=return] nis

bootparams: nisplus [NOTFOUND=return] files

ethers: db files
netmasks: db files
networks: db files
protocols: db files
rpc: db files
services: db files nis

netgroup: files nis

publickey: nisplus

automount: files nis
aliases: files nisplus
